<div class="pet-show-page">
  <div class="pet-show-details">
    <h2><p class="name"><%= @pet.name %></p></h2>
    <img src="http://lorempixel.com/150/150/animals" alt="Placeholder photo frame">
    <ul>
      <li> Type: <%= @pet.species %> </li>
      <li> Color: <%= @pet.color %> </li>
      <li> Age: <%= @pet.age %> </li>
    </ul>
  </div>

  <div class="follower-details">
    <p class="follow-count"><%= @pet.name %> has <%= @pet.followers.count %> followers</p>
    <% if session[:user_id] %>

      <form action="" method="post">
        <input class="button" type="submit" value="Adopt">
      </form>

      <% if @errors %>
        <% @errors.each do |error| %>
          <p class="errors"><%= error %></p>
        <% end %>
      <% end %>

      <form action="/pets/<%= @pet.id %>/followers_pets" method="post">
        <input class="button" type="submit" value="Follow">
      </form>
    <% else %>
      <a href="/sessions/new">login to follow or adopt <%= @pet.name %></a>
    <% end %>
  </div>
</div>
